.home-page {
    height: 100vh;
    background-image: url('../../assets/images/french-background.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    max-width: 500px;
  }
  
  .welcome-text {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spațiu între butoane */
  }
  
  .login-button,
  .signup-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: #ff5252;
  }
  
  