@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Satisfy&display=swap');
.home-modern {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url('/assets/backgrounds/home-page-background2.png') no-repeat center center / cover;

}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.overlay-glass {
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  padding: 40px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
  color: #2c2c2c;
  text-align: center;
  max-width: 480px;
  width: 90%;
}

.welcome-text {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
}


.login {
  background-color: #ec4899;
  color: white;

  &:hover {
    background-color: #db2777;
  }
}

.signup {
  background-color: white;
  color: #ec4899;
  border: 2px solid #ec4899;

  &:hover {
    background-color: #fdf2f8;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  display: none; 
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-text {
  font-family: 'Pacifico', cursive;
  font-size: 2.8rem;
  color: #ec4899;
  animation: fadeInText 1.6s ease-in-out infinite alternate;
}

@keyframes fadeInText {
  from {
    opacity: 0.2;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1.03);
  }
}

.loader-text-wrapper {
  position: absolute;
  top: 1px;
  left: 60px;
  z-index: 9999;
}
.loader-text-type {
  font-family: "Satisfy", cursive;
  font-size: 5.5rem;   
  color: #ec4899;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  position: relative;
  animation: typing 2s steps(14, end) forwards;
}
.loader-text-type::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #ec4899;
  animation: blink 0.8s step-end 3, hide-caret 0s 2.4s forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 14ch }
}

@keyframes blink {
  50% { opacity: 0; }
}

@keyframes hide-caret {
  to { opacity: 0; }
}

