<div class="beginner-background"></div>

<div class="wrapper">
  <div class="content">
    
    <ng-template #finalMessage>
      <h1>Congratulations!</h1>
    </ng-template>
    
    <div *ngIf="!showResult; else resultTemplate" class="quiz-container">
      
          <h1 *ngIf="!showResult; else finalMessage">
            Question {{ currentQuestionIndex + 1 }} of {{ questions.length }}
          </h1>
      <ng-container *ngIf="questions[currentQuestionIndex] as currentQuestion">

        <app-multiple-choice-question
          *ngIf="currentQuestion.questionType === 'multipleChoice'"
          [question]="currentQuestion.question"
          [options]="currentQuestion.options"
          [isAnswered]="isAnswered"
          (answerSelected)="onAnswerSelected($event)">
        </app-multiple-choice-question>

        <app-fill-in-the-blank
          *ngIf="currentQuestion.questionType === 'fillInTheBlank'"
          [question]="currentQuestion.question"
          [options]="currentQuestion.options"
          [isAnswered]="isAnswered"
          (answerSelected)="onAnswerSelected($event)">
        </app-fill-in-the-blank>

        <app-reading-comprehension
          *ngIf="currentQuestion.questionType === 'readingComprehension'"
          [passage]="currentQuestion.passage"
          [question]="currentQuestion.question"
          [options]="currentQuestion.options"
          [isAnswered]="isAnswered"
          (answerSelected)="onAnswerSelected($event)">
        </app-reading-comprehension>

        <app-listening-question
          *ngIf="currentQuestion.questionType === 'listening'"
          [audioUrl]="currentQuestion.audioUrl"
          [question]="currentQuestion.question"
          [options]="currentQuestion.options"
          [isAnswered]="isAnswered"
          (answerSelected)="onAnswerSelected($event)">
        </app-listening-question>

        <button class="check-next-btn" *ngIf="selectedAnswer && !isAnswered" (click)="checkAnswer()">Check</button>


        <div *ngIf="isAnswered" [ngClass]="{ 'correct-answer': isCorrect, 'wrong-answer': isCorrect === false }">
          {{ feedbackMessage }}
        </div>

        <button class="check-next-btn" *ngIf="isAnswered" (click)="nextQuestion()">Next</button>

      </ng-container>
    </div>

   <ng-template #resultTemplate>
  <div class="congratulations-container">
    <ng-container *ngFor="let fw of fireworks">
  <div
    class="firework"
    [style.left.px]="fw.left"
    [ngStyle]="{
      '--x': fw.x,
      '--y': fw.y,
      'background-color': fw.color,
      '--delay': fw.delay
    }"
  ></div>
</ng-container>


    <h2>🎉 Congratulations! 🎉</h2>
    <p>Your final score is: {{ score }}/{{ questions.length }}</p>
    <button (click)="goToLesson()">Go to Lesson</button>
    <button (click)="goToMainPage()">Go to Main Page</button>
    <!-- <div class="firework-launcher launcher-left"></div>
<div class="firework-launcher launcher-right"></div> -->

  </div>
</ng-template>


  </div> <!-- end of .content -->
</div> <!-- end of .wrapper -->
