<div class="main-container">
    <div class="header">
      <div class="progress-container">
        <div class="progress-bar" [style.width.%]="progress"></div>
        <p class="progress-text">Progress: {{ progress.toFixed(1) }}%</p>
      </div>
  
      <button class="user-btn" (click)="goToUserProfile()">
        {{ username }}
      </button>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  
    <h1>Advanced Lessons Overview</h1>
  
    <div class="lessons-grid">
      <div 
        class="lesson-card" 
        *ngFor="let lesson of lessons"
        (click)="goToLesson(lesson._id)"
        [ngClass]="{
          'completed': lesson.isCompleted,
          'current': lesson._id === currentLessonId,
          'locked': !lesson.isUnlocked
        }">
      
        <h3>{{ lesson.title }}</h3>
        <p>{{ lesson.description }}</p>
      
      </div>
    </div>
  </div>
  