button{
  background-color: var(--accent-color);
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  color: white;
  /* margin-top: 10px; */
  margin-bottom: 10px;
}

button:hover{
  background-color: var(--accent-hover-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}
.selected-answer {
  background-color: var(--accent-hover-color);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
/* 
.correct-answer {
  background-color: #2e7d32; 
}
.wrong-answer {
  background-color: #c62828;
  color: white;
} */
