<div class="main-container">
  <div class="header">
    <div class="progress-container">
      <div class="progress-bar" [style.width.%]="progress"></div>
      <p class="progress-text">Progres: {{ progress.toFixed(1) }}%</p>
    </div>
  
    <button class="user-btn" (click)="goToUserProfile()">
      {{ username }}
    </button>
    <button class="logout-btn" (click)="logout()">Logout</button>
    <button class="start-page-btn" (click)="goToStartPage()">Back to start page</button>

  </div>
  
  <h1>Intermediate Lessons Overview</h1>
  <div *ngIf="isReady; else loading">

  <div class="lessons-grid">
    <div 
      class="lesson-card" 
      *ngFor="let lesson of lessons"
      (click)="goToLesson(lesson._id)"
      [ngClass]="{
        'completed': lesson.isCompleted,
        'current': lesson._id === currentLessonId,
        'locked': !lesson.isUnlocked
      }">
    
      <h3>{{ lesson.title }}</h3>
      
    </div>
  </div>
</div>
</div>

<ng-template #loading>
  <p style="text-align:center;">Loading lessons and progress...</p>
</ng-template>
