body.theme-warm {
  --bg-main: #fff7e6;
  --bg-accent: #ffe0b2;
  --text-main: #6b1a00;
  --btn-primary: #f57c00;
  --btn-secondary: #fff3e0;
  --btn-hover: #ef6c00;
  --bg-card: #967f46;
  --text-card: #e2e2e2;
  --shadow-card: rgba(255, 255, 255, 0.05);

    --header-bg: #fbbf24;         // galben cald, prietenos
    --header-text: #4b3200;       // maro închis, lizibil pe galben
    --section-bg: #fff7e6;        // bej deschis
    --section-text: #4b3200;
    --progress-bg: #f2e8da;
    --progress-fill: #eab308;     // galben intens
    --loading-text: #c2410c;      // roșu-ocru cald
  

    --profile-btn-bg: #f59e0b;           // portocaliu cald
    --profile-btn-text: white;
    --profile-btn-hover: #d97706;        // portocaliu mai închis
  
    --logout-btn-bg: #ef4444;            // roșu deschis
    --logout-btn-text: white;
    --logout-btn-hover: #dc2626;     
}
