<app-background-illustration></app-background-illustration>

<div class="home-modern">
  <div class="overlay-glass" [@fadeIn]>
    <h1 class="welcome-text">Create your account</h1>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="First Name" formControlName="firstName" required />
      <input type="text" placeholder="Last Name" formControlName="lastName" required />
      <input type="text" placeholder="Username" formControlName="username" required />
      <input type="email" placeholder="Email Address" formControlName="email" required />
      <input type="password" placeholder="Password" formControlName="password" required />

      <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="error-message">
        Password must be at least 6 characters long.
      </div>

      <div class="button-wrapper">
        <button type="submit" class="btn login" [disabled]="signupForm.invalid">
          Sign Up
        </button>
      </div>
    </form>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
