.login-container {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-left: 33%;
    margin-top: 5%;
  }
  
  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container input[type="email"],
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #45a049;
  }
  
  .login-container a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  
  .facebook-button {
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .facebook-button:hover {
    background-color: #4c70ba;
  }
  
  
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
  a {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  